.selectors {
  display: grid;
  position: fixed;
  width: 100%;
  justify-content: center;
  height: 50px;
  grid-template-columns: 110px 110px 110px 80px;
  gap: 20px;
  margin-top: 60px;
  background-color: rgb(65, 65, 65);
}

.selectors select {
  height: 25px;
  align-self: center;
  background-color: grey;
  font-family: 'Orbitron';
  font-size: 12px;
  border-radius: 5px;
}

.reset {
  width: 60px;
  height: 25px;
  align-self: center;
  border: 0;
  background-color: blueviolet;
  color: aliceblue;
  border-radius: 5px;
  justify-self: center;
}

.reset:hover {
  scale: 0.9;
  background-color: rgb(170, 104, 231);
}

.cards {
  display: grid;
  margin-top: -150px;
}

@media (max-width: 768px) {
  .selectors {
    margin-top: 150px;
    grid-template-columns: 80px 80px 80px 50px;
  }
}
