.container {
  display: grid;
  justify-self: center;
  background-color: rgba(45, 45, 45, 0.9);
  width: 300px;
  height: 400px;
  border-radius: 20px;
  border: 5px solid transparent;
  background: linear-gradient(black, black) padding-box,
  linear-gradient(45deg, #FF52E5, #F6D242) border-box;
  margin-top: 50px;
  transition: 200ms;
}

.container:hover {
  box-shadow: 3px 3px 20px #FF52E5, -3px -3px 20px #F6D242;
}

h2 {
  color: blueviolet;
  margin-top: 30px;
  margin-bottom: 50px;
}

input {
  border: 0;
  outline: none;
  width: 200px;
  height: 30px;
  border-radius: 10px;
}

.email {
  height: 80px;
}

.password {
  height: 80px;
}

.error {
  color: gray;
  font-size: 12px;
  width: 95%;
}

.submit {
  font-size: 12px;
  font-family: 'Orbitron';
  border: 0;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  background-color: blueviolet;
  color: aliceblue;
  transition: 200ms;
  margin-top: 50px;
}

.submit:hover {
  scale: 0.9;
  background-color: rgb(179, 120, 235);
}

.email {
  color: rgb(215, 215, 215);
  margin-top: 5px;
  font-size: 10px;
}

.password {
  color: rgb(215, 215, 215);
  margin-top: 5px;
  font-size: 10px;
}

