.story {
  position: fixed;
  justify-self: center;
  width: 820px;
  margin-top: 80px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  z-index: 999;
  padding-left: 30px;
  padding-right: 30px;
}

.story img {
  padding: 3px;
  display: inline;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid transparent;
  background: linear-gradient(rgb(195, 195, 195), rgb(195, 195, 195)) padding-box,
  linear-gradient(45deg, #FF52E5, #F6D242) border-box;
  transition: 200ms;
  cursor: pointer;
  z-index: 9999;
}

.story img:hover {
  scale: 1.1;
  box-shadow: 0px 0px 5px violet;
}

.link {
  text-decoration: none;
  font-size: 8px;
  color: black;
}

.link p {
  color: black;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  width: 60px;
  padding-left: 10px;
}

.favorite img {
  border: 3px solid transparent;
  background: linear-gradient(rgb(195, 195, 195), rgb(195, 195, 195)) padding-box,
  linear-gradient(45deg, rgb(0, 227, 0), greenyellow) border-box;
}

.favorite img:hover {
  box-shadow: 0px 0px 5px yellowgreen;
}

@media (max-width: 900px) {
  .story {
    width: 290px;
    margin-top: 160px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .story img {
    width: 50px;
    height: 50px;
    padding: 3px;
    margin: 0;
    margin-top: 5px;
    margin-left: 5px;
  margin-right: 5px;
  }

  .link p {
    padding-left: 5px;
  }
}
