.wellcomeContainer {
  position: absolute;
  z-index: 9999;
  display: grid;
  justify-self: center;
  margin-top: 100px;
  width: 450px;
  height: 500px;
  border-radius: 20px;
  border: 5px solid transparent;
  background: linear-gradient(rgb(15,15,15), rgb(15,15,15)) padding-box,
  linear-gradient(45deg, #FF52E5, #F6D242) border-box;
  transition: 200ms;
  animation: grow 0.7s forwards;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.wellcomeContainer:hover {
  box-shadow: 3px 3px 20px #FF52E5, -3px -3px 20px #F6D242;
}

.wellcomeContainer h2 {
  align-self: center;
  color: aliceblue;
  font-size: 18px;
}

.logo {
  margin-top: -50px;
  margin-bottom: 20px;
}

.logo img {
  margin-top: -20px;
  width: 200px;
}

.text {
  display: grid;
  justify-self: center;
  width: 95%;
  margin-top: -55px;
  color: gray;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  /* border: 1px solid red; */
}

.close {
  font-family: 'Orbitron';
  font-size: 12px;
  border: 0;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  background-color: blueviolet;
  color: aliceblue;
  transition: 200ms;
}

.close:hover {
  scale: 0.9;
  background-color: rgb(179, 120, 235);
}

@media (max-width: 768px) {
  .wellcomeContainer {
    margin-top: 190px;
    width: 300px;
    height: 450px;
  }

  .wellcomeContainer h2 {
    font-size: 14px;
    margin-top: 0;
  }

  .text {
    font-size: 12px;
  }
}
