.wellcomeContainer {
    display: grid;
    justify-self: center;
    margin-top: 100px;
    width: 450px;
    height: 550px;
    background-color: rgba(45,45,45,0.9);
    border-radius: 20px;
    box-shadow: 3px 3px 10px greenyellow, -3px -3px 10px aqua;
}

.wellcomeContainer:hover {
    box-shadow: 3px 3px 20px greenyellow, -3px -3px 20px aqua;
}

.wellcomeContainer h2 {
    align-self: center;
    color: aliceblue;
    font-size: 24px;
    /* border: 1px solid red; */
}

.logo {
    margin-top: -50px;
}

.logo img {
    width: 230px;
    /* border: 1px solid red; */
}

.text {
    display: grid;
    justify-self: center;
    width: 95%;
    margin-top: -55px;
    color: gray;
    font-weight: bold;
    text-align: center;
    /* border: 1px solid red; */
}

@media (max-width: 768px) {
    .wellcomeContainer {
        margin-top: 0;
        width: 300px;
        height: 500px;
    }

    .text {
        font-size: 13px;
    }
}
