.container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(../../Assets/2474215.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 30%;
}

.container {
  display: grid;
  justify-self: center;
  margin-top: 10%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 1400px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 200px;
  }

  .story {
    width: 300px;
    margin-top: 210px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .story img {
    width: 40px;
    height: 40px;
  }
}