/* .mainContainer::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(../../Assets/2474215.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 30%;
} */

.mainContainer {
  display: grid;
  justify-self: center;
  margin-top: 190px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.story {
  position: fixed;
  justify-self: center;
  width: 450px;
  margin-top: 70px;
  height: fit-content;
  background-color: rgba(240, 248, 255, 0.8);
  border-radius: 10px;
  z-index: 999;
  padding-left: 30px;
  padding-right: 30px;
}

.story img:hover {
  scale: 1.1;
  box-shadow: 0px 0px 10px fuchsia;
}

.story img {
  display: inline;
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 3px;
  margin-left: 3px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid violet;
  transition: 200ms;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.storyName {
  font-size: 8px;
  color: black;
  margin-top: -5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

@media (max-width: 1280px) {
  .mainContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    grid-template-columns: 1fr;
    margin-top: 260px;
  }

  .story {
    width: 300px;
    margin-top: 160px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .story img {
    width: 40px;
    height: 40px;
  }
}