.rocket {
  height: auto;
  width: 250px;
  position: fixed;
  z-index: 1; 
  top: 60px; 
  left: -350px;
  animation: bounceUpDown 10s ease-in-out infinite;
}

@keyframes bounceUpDown {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(2500px); 
  }
}

.container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(../../Assets/2474215.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 25%;
}

.container {
  z-index: 2;
  display: grid;
  justify-self: center;
  margin-top: 22vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-height: 900px) {
  .container {
    margin-top: 27vh;
  }
}

@media (max-width: 1400px) {
  .rocket {
    display: none;
  }
  
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .rocket {
    display: none;
  }

  .container {
    grid-template-columns: 1fr;
    margin-top: 220px;
  }
}