.component {
  display: grid;
  justify-self: center;
  margin-top: 100px;
  width: 300px;
  height: 450px;
  background-color: rgba(45, 45, 45, 0.9);
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: 3px 3px 10px greenyellow, -3px -3px 10px aqua;
  transition: 200ms;
}

.component:hover {
  box-shadow: 3px 3px 20px greenyellow, -3px -3px 20px aqua;
}

.component img {
  display: grid;
  justify-self: center;
  margin-top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid greenyellow;
  transition: 200ms;
}

.name {
  color: blueviolet;
  font-size: 24px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.data {
  margin-top: -20px;
  font-size: 14px;
  font-weight: bolder;
  align-self: center;
  color: gray;
}

.back {
  display: grid;
  justify-self: center;
  width: 70px;
  height: 30px;
  background-color: blueviolet;
  color: aliceblue;
  font-family:'Orbitron';
  font-size: 12px;
  border: 0;
  border-radius: 10px;
  align-content: center;
}

.back:hover {
  scale: 0.9;
  background-color: rgb(179, 120, 235);
}

@media (max-width: 768px) {
  .component {
    margin-top: 200px;
  }
}
